<!-- a partial that renders caterories  -->
<div class="p-3 bg-yellow-200 text-center text-xl font-bold rounded-lg shadow-lg">

  <a href="/category/{{id}}">
    <h2 id="{{id}}">{{name}}</h2>
  </a>
</div>