<!-- a partial that renders recipes -->
<section class="p-5 bg-yellow-200 text-black rounded-lg shadow-lg m-5">
  <a href="/recipe/{{id}}" class="text-black no-underline">
    <header class="text-center text-xl font-medium">{{name}}</header>

    <!-- displays our recipe imgs -->
    <div class="pt-5">
      {{!-- <img src="/images/REPLACE-THIS-PATH" alt="image of {{name}}"> --}}
      <p class="text-center text-base">{{description}}</p>
    </div>
  </a>
</section>