<!-- a partial that renders our user page -->
<section class="m-5 basis-1/2 w-1/2 p-1 border-4 border-black border-double rounded-md bg-white text-black">
    <header>{{review.user.name}}</header>

    <!-- displays an img for a review -->
    <div>
      {{!-- <img src="/images/REPLACE-THIS-PATH" alt="image of {{name}}"> --}}
      <p>{{review}}</p>
    </div>
  </a>
</section>