<section class="p-5 bg-lime-300 text-black rounded-lg shadow-lg m-5">
    <header>{{review.user.name}}</header>

    <div>
      {{!-- <img src="/images/REPLACE-THIS-PATH" alt="image of {{name}}"> --}}
      <p>{{review}}</p>
    </div>
  </a>
</section>