<section class="m-5 basis-1/2 w-1/2 p-1 border-4 border-black border-double rounded-md bg-white text-black">
    <header>{{user.name}}</header>

    <div>
      {{!-- <img src="/images/REPLACE-THIS-PATH" alt="image of {{name}}"> --}}
      <p>{{review.review}}</p>
    </div>
  </a>
</section>