<!-- a partial that renders user reviews -->

<section class="m-7 bg-lime-300 text-black rounded-lg shadow-lg">    
      <p class="p-4 font-medium">{{review}}</p>
      <h4 class="text-sm float-right">Review by: {{user.name}}</h4>
</section>