<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fund My Project!</title>
  <script src="https://cdn.tailwindcss.com?plugins=typography,line-clamp"></script>
</head>

<body>
  <div class="flex-row justify-between ">
    <header class="flex-auto content-center p-2 mx-0">
        <a href="/"><h1 class="text-5xl w-full sm:w-32 md:w-48 lg:w-64 xl:w-96 mb-3">REAL RECIPES</h1></a>
        <nav class="flex items-center bg-lime-300 flex-wrap justify-evenly">
            <ul class="flex flex-row flex-wrap justify-evenly p-4">
                <li class="p-2 text-center"><a href="/">Home</a></li>
                <li class="p-2 text-center"><a href="/contribute">Contribute</a></li>
                {{#if logged_in}}
                <li class="p-2 text-center"><a href="/profile">Profile</a></li>
                {{/if}}
                {{#if logged_in}}
                <button id="logout">Logout</button>
                {{else}}
                <li class="p-2 text-center"><a href="/login">Login/Signup</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main class="container mx-auto mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{else}}
  <script src="./js/login.js"></script>
  {{/if}}
<script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>  

</body>

</html>
