<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fund My Project!</title>
  <link rel="stylesheet" href="./css/style.css">    
  {{!-- This likely won't be needed --}}
  <script src="https://cdn.tailwindcss.com?plugins=typography,line-clamp"></script>
</head>

<body>
  <div class="flex-col justify-around">
    <header class="flex-auto justify-between content-center p-2">
        <h1>REAL RECIPES</h1>
        <nav class="flex-row">
            <ul class="flex-row">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                {{#if logged_in}}
                <button id="logout">Logout</button>
                {{else}}
                <li><a href="/login">Login/Signup</a></li>
                {{/if}}
                <li><a href="/contribute">Contribute</a></li>
            </ul>
            <form class="flex-row">
                <input type="text" id="search-input" placeholder="Search">
            </form>
        </nav>
    </header>
    <main class="container mx-auto mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{/if}}
</body>

</html>
