<h2 class="m-5 text-4xl">New Recipe</h2>

<div class="flex flex-row">
    <div class="flex flex-row m-5 basis-1/2 w-1/2 p-1 border-4 border rounded-md text-black border-yellow-200 border-single rounded-md bg-yellow-200 max-w-[35%] min-w-[312px]">
    <form class="w-full">
        <div class="flex flex-row w-full my-0.5">
        <label class="m-5 text-xl" for="recipe-name">Recipe Name:</label>
        <input class="m-5 block border-2 border-black border-single rounded-md" type="text" id="recipe-name" />
        </div>
        <div class="flex flex-row w-full my-0.5">
        <label class="m-5 text-xl" for="recipe-name">Category:</label>
        <select class="m-5 block border-2 border-black border-single rounded-md" name="category" id="category">
            {{#each categories as |category|}}
            <option value="{{category.id}}">{{category.name}}</option>
            {{/each}}
        </select>
        </div>
    </form>
</div>

<div class="flex flex-row m-5 basis-1/2 w-1/2 p-1 border-4 border rounded-md text-black border-yellow-200 border-single rounded-md bg-yellow-200 max-w-[35%] min-w-[312px]">
    <div class="m-5 basis-1/2 w-1/2 p-1 text-black" id="ingredientsList">
        
        <input class="flex flex-row" type="text" name="ingList">          
            <div class="flex-col" id="allIngredients"></div>
            <div class="flex flex-row m-3">
                <button class="border-2 border-black border-single rounded-md" onclick="addIng()">Add Ingredient</button>
                <button class="border-2 border-black border-single rounded-md" onclick="removeIng()">Del Ingredient</button>
            </div>
        <input type="hidden" value="1" id="totalIngs" display="none">

    </div>
</div>
</div>



<div class="m-5 h-80 w-auto" id="description">
     <form class="w-full signup-form">
      <div class="block my-0.5 w-full h-48">
        <label class="inline-block m-5 text-xl" for="username-signup">Recipe Description:</label>
        <textarea class="h-64 w-full border-2 border-black border-single rounded-md" id="recipe-description" placeholder="Recipe Description"></textarea>
      </div>
    </form>
</div>

<div class="m-5 basis-1/2 w-auto p-4 rounded-md bg-yellow-200 text-black" id="steps">
    
    <input class="flex flex-row" type="text" name="stepList">
        <div class="flex-col" id="allSteps"></div>
        <button class="border-2 border-black border-single rounded-md" onclick="addStep()">Add Step</button>
        <button class="border-2 border-black border-single rounded-md" onclick="removeStep()">Del Step</button>
    <input type="hidden" value="1" id="totalSteps">

</div>

<div class="m-5 grid grid-cols-2 gap-4 place-items-stretch items-stretch">
    <a href="/"><button class="w-32 bg-red-400 border-2 border-black border-single rounded-md" id="cancel">Cancel</button></a>
    <button class="bg-lime-300 border-2 border-black border-single rounded-md" id="save">Save</button>
{{!-- add save route via onclick, script needs to be added below --}}
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="./js/contribute.js"></script>
