<h2 class="text-4xl text-center font-bold m-5">New Recipe</h2>

<div class="flex flex-col lg:flex-row">
    <div class="w-full lg:w-1/2 m-5 p-5 rounded-md bg-yellow-200 shadow-lg">
    <form class="w-full">
        <div class="flex flex-col w-full my-3">
        <label class="text-xl font-medium" for="recipe-name">Recipe Name:</label>
        <input class="block border-2 border-black border-single rounded-md" type="text" id="recipe-name" />
        </div>
        <div class="flex flex-col w-full my-3">
        <label class="text-xl font-medium" for="recipe-name">Category:</label>
        <select class="block border-2 border-black border-single rounded-md" name="category" id="category">
            {{#each categories as |category|}}
            <option value="{{category.id}}">{{category.name}}</option>
            {{/each}}
        </select>
        </div>
    </form>
</div>

<div class="w-full lg:w-1/2 m-5 p-5 rounded-md bg-yellow-200 shadow-lg">
    <div class="m-5" id="ingredientsList">
        <input class="mb-2 block border-2 border-black border-single rounded-md" type="text" name="ingList">          
            <div class="flex-col" id="allIngredients"></div>
            <div class="flex flex-row justify-start">
                <button class="mr-2 bg-lime-300 px-2 border-2 border-black border-single rounded-md" onclick="addIng()">More Ingredients</button>
                <button class="bg-red-400 px-2 border-2 border-black border-single rounded-md" onclick="removeIng()">Del Ingredient</button>
            </div>
        <input type="hidden" value="1" id="totalIngs" display="none">

    </div>
</div>
</div>



<div class="m-5 h-80 w-auto" id="description">
     <form class="w-full signup-form">
      <div class="block my-0.5 w-full h-48">
        <label class="mb-2 inline-block text-xl font-medium" for="username-signup">Recipe Description:</label>
        <textarea class="p-2 h-64 w-full border-2 border-black border-single rounded-md" id="recipe-description" placeholder="Recipe Description"></textarea>
      </div>
    </form>
</div>

<div class="m-5 basis-1/2 w-auto p-4 rounded-md bg-yellow-200 text-black shadow-lg" id="steps">
    <input class="mb-2 block border-2 border-black border-single rounded-md" type="text" name="stepList">
        <div class="flex-col" id="allSteps"></div>
        <button class="mr-2 bg-lime-300 px-2 border-2 border-black border-single rounded-md" onclick="addStep()">More Steps</button>
        <button class="bg-red-400 px-2 border-2 border-black border-single rounded-md" onclick="removeStep()">Del Step</button>
    <input type="hidden" value="1" id="totalSteps">

</div>

<div class="m-5 grid grid-cols-2 gap-4">
    <a href="/"><button class="w-32 bg-red-400 border-2 border-black border-single rounded-md" id="cancel">Cancel</button></a>
    <button class="bg-lime-300 border-2 border-black border-single rounded-md" id="save">Save</button>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="./js/contribute.js"></script>
