{{#each categories as |category|}}

<div class="mx-3 my-3 basis-1/2 w-1/2 p-1 border-4 border-yellow-200 border-single rounded-md bg-yellow-200 text-black px-4 py-8 text-center wrap text-2xl">
    <h2 id="{{category.id}}">{{category.name}}</h2>
</div>



{{/each}}

 