<div>
{{#if user.recipes.length}}
<div class="col-md-6 recipe-list">
  <h3>Recipes:</h3>

  {{#each user.recipes as |recipe|}}
  <div>
    <div>
      <h4><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h4>
    </div>
    <div>
      <button data-id="{{recipe.id}}">DELETE</button>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
</div>

<script src="./js/profile.js"></script>