<div>
  {{#if user.recipes.length}}
    <div class="col-md-6 recipe-list">
      <h3 class="text-center text-3xl font-bold">My Recipes</h3>

  {{#each user.recipes as |recipe|}}
    <div class="p-5 bg-yellow-200 text-black text-center font-bold rounded-lg shadow-lg m-5">
        <div>
      <h4><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h4>
        </div>
        <div>
      <button class="bg-lime-300 hover:bg-lime-500 text-black font-bold py-2 px-4 rounded-full" data-id="{{recipe.id}}">Delete</button>
        </div>
      </div>
  {{/each}}
    </div>
{{/if}}
</div>

<script src="./js/profile.js"></script>