<section class="d-flex flex-column align-items-center">
    <h2 class="text-center text-6xl font-bold">{{category.name}} Dishes</h2>
    <section class="d-flex flex-wrap">
        {{#each category.recipes as |recipe|}}
        {{> recipe-details}}
        {{/each}}
    </section>
</section>

<script src="/js/login.js"></script>
<script src="/js/logout.js"></script>