<!-- loops through all catogories of recipes -->
<section class="d-flex flex-column align-items-center">
    <h3 class="text-center text-lg font-medium">{{category.name}} Dishes</h3>
    <section class="d-flex flex-wrap">
        {{#each category.recipes as |recipe|}}
        {{> recipe-details}}
        {{/each}}
    </section>
</section>

