<section>
    <h3>{{category.name}} Dishes</h3>
    <section>
        {{#each category.recipes as |recipe|}}
        {{> recipe-details}}
        {{/each}}
    </section>
</section>

<script src="../js/logout.js"></script>
<script src="../js/login.js"></script>